.contacts {
padding: 55px 20px 63px;
text-align: center;
}

.contacts-title {
font-size: 34px;
font-weight: 700px;
color: var(--color-main-black);
}

.button-contacts {
width: 210px;
height: 42px;
background-color: var(--color-main-black);
border: none;
border-radius: 21px;
margin: 75px 0 30px;

}

.button-contacts:hover{
    opacity: 0.8;
}

.button-link {
    color: var(--bg-main);
    font-size: 24px;
    font-weight: 500;
}

.socials {
display: flex;
justify-content: center;
align-items: center;
margin: 0 auto;
gap: 30px;
}

.social-icon:hover{
    fill: rgb(255, 81, 0);
}

.social-icon {
width: 65px;
height: 65px;
fill: var(--color-main-black);
}

.contact-info {
width: 260px;
margin: 35px auto 0;
color: var(--font-color-grey);
font-size: 16px;
font-weight: 500;
}

@media (max-width: 480px) {
    .contact-info {
        font-size: 14px;
        }

    .social-icon {
        width: 55px;
        height: 55px;
        }
    
    .socials {
         gap: 20px;
         }
}